@model Group_Assignment_4.Models.Camps

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Camps Information </h2>
<hr />
<table class="table table-responsive-sm table-striped text-center pb-2 mb-2 resp">
    <thead>
        <tr>
            <th>
                Camp Name
            </th>
            <th>
                Camp ID
            </th>`

            <th>
                Description
            </th>
            <th>
                Reservation Info
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reservationInfo)
                </td>



            </tr>
        }



    </tbody>
</table>
<div align="center">
    <form>
        <a id="dbopt" asp-controller="Home" asp-action="Camps" align="center" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
    </form>&nbsp;&nbsp;
</div>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved !");
    }
</script>
